:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-text-color: #555555;
  --second-text-color: rgba(157, 164, 189, 0.6);
  --third-text-color: #9da4bd;
  --fourth-text-color: #303030;
  --accent-color: #ff6c00;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --header-text-color: #ffffff;
}

body {
  font-family: 'Open sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/*-------------HEADER---------------*/

.header {
  background-color: #555555;
}
.header-navigation {
}

.header-logo {
}

.header-list {
}

.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-btn-color);
}

.header-btn:active {
  background-color: var(--accent-color);
}

/*-------------HERO---------------*/

.hero {
}

.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fourth-text-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-right {
  background-color: var(--second-title-color);
}

.hero-pre-title {
  color: var(--second-text-color);
}

.hero-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-after-title {
  color: var(--third-text-color);
}

/*-------------ABOUT---------------*/

.about {
}

.about-list {
}

.about-item {
}

.about-right {
}

.about-pre-title {
  color: var(--fourth-text-color);
}

.about-title {
  color: var(--second-title-color);
}

.about-after-title {
  color: var(--main-text-color);
}

.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.about-btn {
  color: var(--second-btn-color);
}

/*-------------PRICES---------------*/

.prices {
  background-color: var(--fourth-text-color);
}

.prices-pre-title {
  color: var(--second-text-color);
}

.prices-title {
  color: var(--main-title-color);
}

.prices-list {
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.prices-btn {
  color: var(--main-btn-color);
}

/*-------------REASONS---------------*/

.reasons {
}

.reasons-list {
}

.list {
}

.reasons-item {
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--fourth-text-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--fourth-text-color);
}

.reasons-right {
}

.reasons-pre-title {
  color: var(--fourth-text-color);
}

.reasons-title {
  color: var(--second-title-color);
}

.reasons-after-title {
  color: var(--main-text-color);
}

/*-------------MASTERS---------------*/

.masters {
}

.masters-pre-title {
  color: var(--fourth-text-color);
}

.masters-title {
  color: var(--second-title-color);
}
.masters-list {
}
.masters-item {
}
.masters-item-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*-------------GALLERY---------------*/

.gallery {
}
.gallery-pre-title {
  color: var(--fourth-text-color);
}

.gallery-list {
}
.list {
}
.gallery-item {
}

/*-------------ONLINE---------------*/

.online {
  background-color: var(--fourth-text-color);
}
.online-title {
  color: var(--main-title-color);
}

/*-------------CONTACTS---------------*/

.contacts {
  background-color: var(--fourth-text-color);
}
.contacts-title {
  color: var(--main-title-color);
}
.contacts-address {
}
.contacts-list {
}

.contacts-item {
}
.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.link {
}
.contacts-bottom-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

/*-------------FOOTER---------------*/

.footer {
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
.footer-list {
}

.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fourth-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
